.Minus,
.Plus {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #FCBF49;
    width: 36rem;
    height: 36rem;
    border-radius: 50%;
    font-size: 25rem;
    font-weight: 100;
    padding: 0;
}

.Minus {
    background-color: #fff;
    border: 1px solid black;
    border-radius: 50%;
}

.Count {
    font-size: 25rem;
    margin: 0 5px;
}

.Counter {
    display: flex;
    align-items: center;
}