.Meal {
    border-bottom: 1px #f2f2f2 solid;
    display: flex;
    padding: 30rem 20rem;
    text-align: left;
    align-items: center;
}

.ImgBox {
    width: 260rem;
}

.ContentBox {
    padding-left: 25rem;
}

img {
    width: 100%;
}

.Title {
    font-weight: bold;
    font-size: 36rem;
    margin: 0;
}

.Des {
    color: #757575;
    font-size: 28rem;
    padding-right: 45rem;
}

.PriceTag {
    display: flex;
    margin-top: 40rem;
    justify-content: space-between;
    padding-right: 40rem
}